<%= form_with(model: @recipe, local: true) do |form| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Create a New Recipe</h1>
<%= form_for @recipe do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, id: :recipe_name %>
  </div>

  <div class="field">
    <%= f.label :ingredients %>
    <%= f.text_field :ingredients, id: :recipe_ingredients %>
  </div>


  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, id: :recipe_description %>
  </div>
  <br>
  <div id='ingredients'>
      <%= f.fields_for :ingredients do |ingredient| %>
        <%= render 'ingredient_fields', :f => ingredient %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'Add Ingredient', f, :ingredients %>
      </div>
  </div>
  <br>
  <div id='directions'>
      <%= f.fields_for :directions do |direction| %>
        <%= render 'direction_fields', :f => direction %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'Add Step', f, :directions %>
      </div>
  </div>

  <div class="actions">
    <%= f.submit 'Create Recipe'%>
  </div>
  <br>
  <% end %>

  <%= link_to 'Back', root_path %>
<% end %>
