<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Ingredients:</strong>
  <ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.ingredient %> - <%= ingredient.amount %></li>
  <% end %>
</ul>
</p>

<p>
  <strong>Steps:</strong>
  <ul>
  <% @recipe.directions.each do |direction| %>
    <li><%= direction.step %></li>
  <% end %>
</ul>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', root_path %>
