<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<!-- This is showing the wrong ingredients (not the newly imported in the nested forms) -->
<p>
  <strong>Ingredients:</strong>
  <%= @ingredients.to_json %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', root_path %>
